# Visual Studio respeta este archivo automáticamente al abrir la carpeta.
# Mantiene el formato de Vesta igual sin importar desde qué máquina se edite.
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{html,js,css,json}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{png,ico,jpg}]
insert_final_newline = false
trim_trailing_whitespace = false
